.chatbox-input {
  width: 100%;
  min-height: 56px;
  height: 5rem;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}

.chatbox {
  width: 80rem;
  height: 60rem;
  max-width: 80rem;
  display: flex;
  flex-direction: column;

  .message {
    max-width: 100%;
    width: fit-content;
    text-size-adjust: auto;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1rem;

    &.bot {
      color: white;
      background-color: rgba(101, 9, 200, 100);
      text-align: left;
      align-self: flex-start;
    }

    &.user {
      display: flex;
      align-self: right;
      /* background-color: rgba() */
    }
  }
}

.scrollbox {
  width: 100%;
  background-color: rgba(240, 240, 240, 100);
  max-height: 40rem;
  height: 100%;
  overflow-y: auto;
}

.chatbox form {
  display: flex;
}

.chatbox input[type='text'] {
  border: none;
  background-color: rgba(237, 237, 237, 1);

  padding: 1rem;
  max-width: 100%;
  width: 100%;
  height: 3rem;

  transition: 0.3s all;
  outline: none;
}

.chatbox:hover {
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.05);
  background-color: rgba(225, 225, 225, 1);
  outline: none;
}

.chatbox:focus {
  outline: none;
  border: none;
}

.chatbox input[type='submit'] {
  max-width: 10rem;
  width: 5rem;
  outline: none;
  border: none;
}
