.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  flex-grow: 1;
}

.response {
  max-width: 100%;
  width: fit-content;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.5rem 5rem 0.5rem 0rem;
  border-radius: 12px 12px 12px 6px;
  background-color: rgba(255, 255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-self: flex-start;
  border: 1px solid #eee;
}

.message {
  max-width: 100%;
  width: fit-content;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.5rem 0rem 0.5rem 5rem;
  border-radius: 12px 12px 6px 12px;

  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: white;
  background-color: #002aff;
}

.chatbox {
  max-width: 80rem;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.prompt {
  position: fixed;
  padding-bottom: 1rem;
  bottom: 0;
  max-width: 80rem;
  width: 100%;
}
